<section>
  <Form @name="addForm" @title="New Post" @form={{this.form}}>
    <Form::Input
      @label="Post Title:"
      @name="postTitle"
      @value={{@post.title}}
      @validator={{this.postTitle}}
    />
    <Form::Selector
      @items={{this.items}}
      @initialIid="0"
      @label="Author:"
      @validator={{this.postAuthor}}
    />
    <Form::TextArea
      @label="Content:"
      @name="postContent"
      @value={{@post.body}}
      @validator={{this.postContent}}
    />

    {{#if this.valid}}
      <button type="button" {{on "click" this.savePost}}>
        Save Post
      </button>
    {{else}}
      <button type="button" disabled {{on "click" this.savePost}}>
        Save Post
      </button>
    {{/if}}
  </Form>
</section>